Repository asmelkowski/gift-genie: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-docstring-first

  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.4
    hooks:
      # Run the formatter first
      - id: ruff-format
        files: ^backend/.*\.py$
        types_or: [python]
      # Run the linter with --fix to auto-fix issues
      - id: ruff
        files: ^backend/.*\.py$
        types_or: [python]
        args: [--fix]

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        files: ^backend/.*\.py$
        types_or: [python]

  # Frontend hooks - use local installations
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: sh -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md|yml|yaml)$
        types_or: [javascript, jsx, ts, tsx, json, css, markdown]
        pass_filenames: false
        exclude: ^frontend/(node_modules|dist|build)/

      - id: eslint
        name: eslint
        entry: sh -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false
        exclude: ^frontend/(node_modules|dist|build)/

  # Security hooks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        files: ^backend/src/.*\.py$
        additional_dependencies: ["bandit[toml]", "pbr"]
        args: [--exit-zero]

  # Docker hooks
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        files: ^.*Dockerfile$
        types: [dockerfile]
        args: [--failure-threshold, error]

# Global settings
fail_fast: false
default_stages: [pre-commit]

fix: Fix backend exception handling
  backend/pyproject.toml
  backend/src/gift_genie/main.py
  backend/src/gift_genie/presentation/api/exception_handlers.py
  backend/src/gift_genie/presentation/api/v1/auth.py
  backend/src/gift_genie/presentation/api/v1/draws.py
  backend/src/gift_genie/presentation/api/v1/shared.py
  backend/tests/test_auth_login_api.py
  backend/uv.lock
Due: none

feat(logging): implement comprehensive exception logging with request tracing
  backend/src/gift_genie/infrastructure/config/settings.py
  backend/src/gift_genie/infrastructure/logging/__init__.py
  backend/src/gift_genie/infrastructure/logging/request_context.py
  backend/src/gift_genie/main.py
  backend/src/gift_genie/presentation/api/exception_handlers.py
  backend/src/gift_genie/presentation/middleware/__init__.py
  backend/src/gift_genie/presentation/middleware/exception_logging.py
Due: none

fix(e2e): resolve network and API connectivity issues for E2E tests
  .github/workflows/pull-request.yml
  E2E_FIXES_APPLIED.md
  frontend/e2e/utils/auth-setup.ts
  frontend/src/lib/api.ts
Due: prettier, eslint

fix(e2e): resolve authentication failures in CI/Docker environments
  E2E_CI_AUTH_FIX.md
  frontend/e2e/utils/auth-setup.ts
Due: prettier, eslint

fix: Controvelsial token fix
  backend/src/gift_genie/presentation/api/v1/auth.py
Due: none

refactor(e2e): rebuild test setup using Playwright's native storageState
  .github/workflows/pull-request.yml
  .gitignore
  E2E_MIGRATION_SUMMARY.md
  E2E_VERIFICATION_CHECKLIST.md
  ENVIRONMENT_SETUP.md
  README.md
  TESTING.md
  db_summary.md
  docker-compose.dev.yml
  docker-compose.yml
  frontend/e2e/02-app-auth.spec.ts
  frontend/e2e/README.md
  frontend/e2e/auth/login.spec.ts
  frontend/e2e/auth/logout.spec.ts
  frontend/e2e/fixtures.ts
  frontend/e2e/global-setup.ts
  frontend/e2e/groups/create-group.spec.ts
  frontend/e2e/setup/auth.setup.ts
  frontend/e2e/setup/cleanup.setup.ts
  frontend/e2e/utils/auth-setup.ts
  frontend/e2e/utils/db-cleanup.ts
  frontend/e2e/utils/example-usage.spec.ts
  frontend/e2e/utils/index.ts
  frontend/e2e/utils/parallel-execution-helpers.ts
  frontend/e2e/utils/test-data-factory.ts
  frontend/e2e/utils/test-helpers.ts
  frontend/playwright.config.ts
Due: prettier, eslint

fix(e2e): implement bootstrap state and page object model
  frontend/e2e/auth/login.spec.ts
  frontend/e2e/auth/logout.spec.ts
  frontend/e2e/groups/create-group.spec.ts
  frontend/e2e/page-objects/AppLayoutPage.ts
  frontend/e2e/page-objects/GroupsPage.ts
  frontend/e2e/page-objects/LoginPage.ts
  frontend/e2e/setup/auth.setup.ts
  frontend/src/App.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/PasswordInput.tsx
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/RegisterForm.tsx
  frontend/src/contexts/BootstrapContext.tsx
Due: prettier, eslint

fix(tests): update unit tests after error message and prop changes
  frontend/src/components/LoginForm.test.tsx
  frontend/src/components/PasswordInput.test.tsx
Due: prettier, eslint

docs: add documentation and scripts from e2e test migration
  .ai/to_dos.md
  CI_MIGRATION.md
  DOCKER.md
  DOCKER_AND_CI_SUMMARY.md
  E2E_DEBUGGING.md
  E2E_FIX_SUMMARY.md
  E2E_LOGGING_DEBUG.md
  E2E_NETWORK_ROOT_CAUSE.md
  EXCEPTION_LOGGING.md
  README.docker.md
  scripts/README-test-e2e-local-ci.md
  scripts/e2e-cleanup.sh
  scripts/e2e-network-test.sh
  scripts/e2e-run.sh
  scripts/e2e-setup.sh
  scripts/run-e2e-parallel.sh
  scripts/test-e2e-local-ci.sh
  scripts/validate-e2e-setup.sh
Due: none

fix(e2e): correct auth endpoint path from /api/auth/me to /api/v1/auth/me
  frontend/e2e/setup/auth.setup.ts
Due: prettier, eslint

fix(e2e): resolve E2E test failures - auth flow and cross-origin issues
  backend/src/gift_genie/infrastructure/config/settings.py
  backend/src/gift_genie/presentation/api/v1/auth.py
  frontend/e2e/setup/auth.setup.ts
Due: prettier, eslint

fix(e2e): remove unused request parameter from auth.setup.ts
  frontend/e2e/setup/auth.setup.ts
Due: prettier, eslint

test(e2e): implement comprehensive diagnostics infrastructure for debugging failed tests
  E2E_DIAGNOSTICS_PHASE1.md
  frontend/e2e/page-objects/AppLayoutPage.ts
  frontend/e2e/page-objects/BasePageObject.ts
  frontend/e2e/page-objects/GroupsPage.ts
  frontend/e2e/page-objects/LoginPage.ts
  frontend/e2e/setup/auth.setup.ts
  frontend/e2e/setup/diagnostics.setup.ts
  frontend/src/App.tsx
  frontend/src/types/window.d.ts
Due: prettier, eslint

docs(e2e): add comprehensive guides for Phase 1 diagnostics
  PHASE1_COMPLETION_SUMMARY.md
  frontend/E2E_DEBUGGING_GUIDE.md
Due: prettier

docs(e2e): create Phase 2 fix plan for auth state persistence
  E2E_PHASE2_PLAN.md
Due: none

docs(e2e): create complete E2E test resolution roadmap
  E2E_COMPLETE_ROADMAP.md
Due: none

Revert "test(e2e): implement comprehensive diagnostics infrastructure for debugging failed tests"
  E2E_DIAGNOSTICS_PHASE1.md
  frontend/e2e/page-objects/AppLayoutPage.ts
  frontend/e2e/page-objects/BasePageObject.ts
  frontend/e2e/page-objects/GroupsPage.ts
  frontend/e2e/page-objects/LoginPage.ts
  frontend/e2e/setup/auth.setup.ts
  frontend/e2e/setup/diagnostics.setup.ts
  frontend/src/App.tsx
  frontend/src/types/window.d.ts
Due: prettier, eslint

feat: Simplify e2e tests
  frontend/e2e/auth/login.spec.ts
  frontend/e2e/auth/logout.spec.ts
  frontend/e2e/groups/create-group.spec.ts
  frontend/e2e/helpers.ts
  frontend/e2e/page-objects/AppLayoutPage.ts
  frontend/e2e/page-objects/GroupsPage.ts
  frontend/e2e/page-objects/RegisterPage.ts
  frontend/e2e/setup/auth.setup.ts
  frontend/e2e/setup/cleanup.setup.ts
  frontend/playwright.config.ts
Due: prettier, eslint

fix: Try with setting cookies
  frontend/e2e/auth/login.spec.ts
  frontend/e2e/auth/logout.spec.ts
  frontend/e2e/groups/create-group.spec.ts
  frontend/e2e/helpers.ts
Due: prettier, eslint

fix: Another try
  .github/workflows/pull-request.yml
  frontend/e2e/helpers.ts
  frontend/e2e/page-objects/LoginPage.ts
  frontend/playwright.config.ts
Due: prettier, eslint

feat(e2e): implement hybrid auth approach for reliable CI testing
  .github/workflows/pull-request.yml
  frontend/e2e/helpers.ts
  frontend/e2e/page-objects/LoginPage.ts
Due: prettier, eslint

fix(e2e): set non-null user in localStorage for Zustand auth store
  frontend/e2e/helpers.ts
Due: prettier, eslint

fix(e2e): fix auth race condition by initializing localStorage before navigation
  frontend/e2e/helpers.ts
Due: prettier, eslint

chore: remove outdated E2E debugging documentation files
  E2E_CI_AUTH_FIX.md
  E2E_COMPLETE_ROADMAP.md
  E2E_DEBUGGING.md
  E2E_FIXES_APPLIED.md
  E2E_FIX_SUMMARY.md
  E2E_LOGGING_DEBUG.md
  E2E_MIGRATION_SUMMARY.md
  E2E_NETWORK_ROOT_CAUSE.md
  E2E_PHASE2_PLAN.md
  E2E_VERIFICATION_CHECKLIST.md
Due: none

fix(ci): set ENV=dev for E2E tests to enable cross-origin cookies
  .github/workflows/pull-request.yml
Due: none

refactor(auth): create shared authentication dependency for all API endpoints
  backend/src/gift_genie/presentation/api/dependencies.py
  backend/src/gift_genie/presentation/api/v1/auth.py
  backend/src/gift_genie/presentation/api/v1/draws.py
  backend/src/gift_genie/presentation/api/v1/exclusions.py
  backend/src/gift_genie/presentation/api/v1/groups.py
  backend/src/gift_genie/presentation/api/v1/members.py
Due: none

fix: add logging to login user
  backend/src/gift_genie/application/use_cases/login_user.py
Due: none

fix: Fix login registering race condition
  frontend/e2e/helpers.ts
Due: prettier, eslint

fix: Another try
  backend/src/gift_genie/presentation/api/dependencies.py
  frontend/e2e/helpers.ts
Due: prettier, eslint

fix: another one
  backend/src/gift_genie/application/use_cases/login_user.py
  backend/src/gift_genie/presentation/api/dependencies.py
  frontend/e2e/auth/login.spec.ts
  frontend/e2e/helpers.ts
  frontend/e2e/page-objects/LoginPage.ts
Due: prettier, eslint

fix: Fix frontent lint
  frontend/src/components/GroupsPage/CreateGroupDialog.test.tsx
  frontend/src/components/MembersPage/MemberForm.test.tsx
  frontend/src/lib/drawUtils.test.ts
Due: prettier, eslint

fix: Better logging
  .github/workflows/pull-request.yml
Due: none

fix: Fix frontend unit tests
  .github/workflows/pull-request.yml
  frontend/bun.lock
  frontend/package.json
  frontend/playwright.config.ts
  frontend/vitest.config.ts
Due: prettier, eslint

feat: Fix mypy
  backend/pyproject.toml
  backend/src/gift_genie/application/use_cases/delete_exclusion.py
  backend/src/gift_genie/infrastructure/algorithms/constraint_draw_algorithm.py
  backend/src/gift_genie/infrastructure/database/models/assignment.py
  backend/src/gift_genie/infrastructure/database/models/draw.py
  backend/src/gift_genie/infrastructure/database/models/exclusion.py
  backend/src/gift_genie/infrastructure/database/models/group.py
  backend/src/gift_genie/infrastructure/database/models/member.py
  backend/src/gift_genie/infrastructure/database/models/user.py
  backend/src/gift_genie/infrastructure/database/repositories/draws.py
  backend/src/gift_genie/infrastructure/database/repositories/exclusions.py
  backend/src/gift_genie/infrastructure/database/repositories/groups.py
  backend/src/gift_genie/infrastructure/database/repositories/members.py
  backend/src/gift_genie/infrastructure/database/session.py
  backend/src/gift_genie/infrastructure/security/jwt.py
  backend/src/gift_genie/main.py
  backend/src/gift_genie/presentation/api/v1/auth.py
  backend/src/gift_genie/presentation/api/v1/draws.py
  backend/src/gift_genie/presentation/api/v1/exclusions.py
  backend/src/gift_genie/presentation/api/v1/groups.py
  backend/src/gift_genie/presentation/api/v1/members.py
  backend/src/gift_genie/presentation/api/v1/shared.py
  backend/tests/test_draws_api.py
Due: none

fix: Fix frontend build
  frontend/tsconfig.app.json
Due: prettier

feat: Fix lint
  backend/src/gift_genie/presentation/api/v1/__init__.py
  backend/src/gift_genie/presentation/api/v1/draws.py
Due: none

fix: Fix wrong playwright command
  .github/workflows/pull-request.yml
Due: none
