Repository asmelkowski/gift-genie: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: sh -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: sh -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

fix: Simplify tests
  .github/workflows/pull-request.yml
  backend/src/gift_genie/infrastructure/config/settings.py
  backend/src/gift_genie/presentation/api/v1/auth.py
  backend/src/gift_genie/presentation/api/v1/shared.py
  backend/tests/test_auth_logout_api.py
  frontend/e2e/01-auth-setup.spec.ts
  frontend/e2e/02-app-auth.spec.ts
  frontend/e2e/utils/example-usage.spec.ts
  frontend/playwright.config.ts
Due: prettier, eslint

fix: Fix backend exception handling
  backend/pyproject.toml
  backend/src/gift_genie/main.py
  backend/src/gift_genie/presentation/api/exception_handlers.py
  backend/src/gift_genie/presentation/api/v1/auth.py
  backend/src/gift_genie/presentation/api/v1/draws.py
  backend/src/gift_genie/presentation/api/v1/shared.py
  backend/tests/test_auth_login_api.py
  backend/uv.lock
Due: none

fix(e2e): resolve network and API connectivity issues for E2E tests
  .github/workflows/pull-request.yml
  E2E_FIXES_APPLIED.md
  frontend/e2e/utils/auth-setup.ts
  frontend/src/lib/api.ts
Due: prettier, eslint

docs(e2e): add comprehensive guides for Phase 1 diagnostics
  PHASE1_COMPLETION_SUMMARY.md
  frontend/E2E_DEBUGGING_GUIDE.md
Due: prettier

fix: Fix backend health endpoint path
  .github/workflows/pull-request.yml
Due: none

fix: Fix networking issue in e2e tests
  .github/workflows/pull-request.yml
  frontend/src/lib/api.ts
Due: prettier, eslint

fix: Add logging to auth endpoints
  .pre-commit-config.yaml
  backend/src/gift_genie/presentation/api/v1/auth.py
Due: none

fix: Fix CORS_ORIGIN parsing
  backend/src/gift_genie/infrastructure/config/settings.py
Due: none

feat(logging): implement comprehensive exception logging with request tracing
  backend/src/gift_genie/infrastructure/config/settings.py
  backend/src/gift_genie/infrastructure/logging/__init__.py
  backend/src/gift_genie/infrastructure/logging/request_context.py
  backend/src/gift_genie/main.py
  backend/src/gift_genie/presentation/api/exception_handlers.py
  backend/src/gift_genie/presentation/middleware/__init__.py
  backend/src/gift_genie/presentation/middleware/exception_logging.py
Due: none

refactor(auth): create shared authentication dependency for all API endpoints
  backend/src/gift_genie/presentation/api/dependencies.py
  backend/src/gift_genie/presentation/api/v1/auth.py
  backend/src/gift_genie/presentation/api/v1/draws.py
  backend/src/gift_genie/presentation/api/v1/exclusions.py
  backend/src/gift_genie/presentation/api/v1/groups.py
  backend/src/gift_genie/presentation/api/v1/members.py
Due: none

docs: add documentation and scripts from e2e test migration
  .ai/to_dos.md
  CI_MIGRATION.md
  DOCKER.md
  DOCKER_AND_CI_SUMMARY.md
  E2E_DEBUGGING.md
  E2E_FIX_SUMMARY.md
  E2E_LOGGING_DEBUG.md
  E2E_NETWORK_ROOT_CAUSE.md
  EXCEPTION_LOGGING.md
  README.docker.md
  scripts/README-test-e2e-local-ci.md
  scripts/e2e-cleanup.sh
  scripts/e2e-network-test.sh
  scripts/e2e-run.sh
  scripts/e2e-setup.sh
  scripts/run-e2e-parallel.sh
  scripts/test-e2e-local-ci.sh
  scripts/validate-e2e-setup.sh
Due: none

feat: First attempt for pull_request pipeline
  .github/workflows/pull-request.yml
Due: none

fix(e2e): implement bootstrap state and page object model
  frontend/e2e/auth/login.spec.ts
  frontend/e2e/auth/logout.spec.ts
  frontend/e2e/groups/create-group.spec.ts
  frontend/e2e/page-objects/AppLayoutPage.ts
  frontend/e2e/page-objects/GroupsPage.ts
  frontend/e2e/page-objects/LoginPage.ts
  frontend/e2e/setup/auth.setup.ts
  frontend/src/App.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/PasswordInput.tsx
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/RegisterForm.tsx
  frontend/src/contexts/BootstrapContext.tsx
Due: prettier, eslint

fix: Yet another try
  .github/workflows/pull-request.yml
  frontend/Dockerfile
Due: none

feat: Fix eslint and tests
  frontend/e2e/auth.spec.ts
  frontend/e2e/fixtures.ts
  frontend/src/components/DrawResultsPage/ExportActions.tsx
  frontend/src/components/DrawsPage/DrawsGrid.test.tsx
  frontend/src/components/DrawsPage/DrawsPage.tsx
  frontend/src/components/DrawsPage/DrawsToolbar.test.tsx
  frontend/src/components/ExclusionsPage/ExclusionDialog.test.tsx
  frontend/src/components/ExclusionsPage/ExclusionsToolbar.test.tsx
  frontend/src/components/GroupsPage/CreateGroupDialog.test.tsx
  frontend/src/components/MembersPage/MemberForm.test.tsx
  frontend/src/components/MembersPage/MembersToolbar.test.tsx
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/hooks/useAssignmentsQuery.test.ts
  frontend/src/hooks/useCreateDrawMutation.ts
  frontend/src/hooks/useDeleteDrawMutation.ts
  frontend/src/hooks/useDrawsQuery.test.ts
  frontend/src/hooks/useExclusionsQuery.test.ts
  frontend/src/hooks/useExecuteDrawMutation.ts
  frontend/src/hooks/useFinalizeDrawMutation.ts
  frontend/src/hooks/useGroupsQuery.test.ts
  frontend/src/hooks/useMembersQuery.test.ts
  frontend/src/hooks/useNotifyDrawMutation.ts
  frontend/src/lib/drawUtils.test.ts
  frontend/src/pages/DrawResultsPage.tsx
  frontend/src/test/setup.ts
Due: prettier, eslint

fix(e2e): set non-null user in localStorage for Zustand auth store
  frontend/e2e/helpers.ts
Due: prettier, eslint

feat(e2e): implement hybrid auth approach for reliable CI testing
  .github/workflows/pull-request.yml
  frontend/e2e/helpers.ts
  frontend/e2e/page-objects/LoginPage.ts
Due: prettier, eslint

fix(e2e): resolve authentication failures in CI/Docker environments
  E2E_CI_AUTH_FIX.md
  frontend/e2e/utils/auth-setup.ts
Due: prettier, eslint

fix(frontend): update vitest to 4.0.8 to resolve Bun compatibility issue
  frontend/bun.lock
  frontend/package.json
Due: prettier

fix: another one
  backend/src/gift_genie/application/use_cases/login_user.py
  backend/src/gift_genie/presentation/api/dependencies.py
  frontend/e2e/auth/login.spec.ts
  frontend/e2e/helpers.ts
  frontend/e2e/page-objects/LoginPage.ts
Due: prettier, eslint

fix(e2e): resolve E2E test failures - auth flow and cross-origin issues
  backend/src/gift_genie/infrastructure/config/settings.py
  backend/src/gift_genie/presentation/api/v1/auth.py
  frontend/e2e/setup/auth.setup.ts
Due: prettier, eslint

Revert "test(e2e): implement comprehensive diagnostics infrastructure for debugging failed tests"
  E2E_DIAGNOSTICS_PHASE1.md
  frontend/e2e/page-objects/AppLayoutPage.ts
  frontend/e2e/page-objects/BasePageObject.ts
  frontend/e2e/page-objects/GroupsPage.ts
  frontend/e2e/page-objects/LoginPage.ts
  frontend/e2e/setup/auth.setup.ts
  frontend/e2e/setup/diagnostics.setup.ts
  frontend/src/App.tsx
  frontend/src/types/window.d.ts
Due: prettier, eslint

fix: Upload screenshots
  .github/workflows/pull-request.yml
  frontend/e2e/global-setup.ts
  frontend/playwright.config.ts
Due: prettier, eslint

fix: Try to fix e2e tests hanging
  .github/workflows/pull-request.yml
  frontend/Dockerfile
  frontend/e2e/fixtures.ts
  frontend/e2e/global-setup.ts
  frontend/playwright.config.ts
  frontend/src/lib/api.ts
Due: prettier, eslint

fix: Run e2e in the same network
  .github/workflows/pull-request.yml
Due: none

feat: Simplify e2e tests
  frontend/e2e/auth/login.spec.ts
  frontend/e2e/auth/logout.spec.ts
  frontend/e2e/groups/create-group.spec.ts
  frontend/e2e/helpers.ts
  frontend/e2e/page-objects/AppLayoutPage.ts
  frontend/e2e/page-objects/GroupsPage.ts
  frontend/e2e/page-objects/RegisterPage.ts
  frontend/e2e/setup/auth.setup.ts
  frontend/e2e/setup/cleanup.setup.ts
  frontend/playwright.config.ts
Due: prettier, eslint

fix(e2e): fix auth race condition by initializing localStorage before navigation
  frontend/e2e/helpers.ts
Due: prettier, eslint

fix: Fix frontend unit tests
  frontend/Dockerfile
Due: none

feat: Rethink e2e tests
  .github/workflows/pull-request.yml
  frontend/e2e/01-auth-setup.spec.ts
  frontend/e2e/02-app-auth.spec.ts
  frontend/e2e/auth.spec.ts
  frontend/e2e/fixtures.ts
  frontend/e2e/global-setup.ts
  frontend/playwright.config.ts
Due: prettier, eslint

feat: Use bun instead of npm
  .github/workflows/pull-request.yml
Due: none

fix: add logging to login user
  backend/src/gift_genie/application/use_cases/login_user.py
Due: none

fix: Handle user registration for e2e tests
  frontend/e2e/global-setup.ts
  frontend/playwright.config.ts
Due: prettier, eslint

docs(e2e): create Phase 2 fix plan for auth state persistence
  E2E_PHASE2_PLAN.md
Due: none

fix: Fix broken tests run
  .github/workflows/pull-request.yml
  backend/.dockerignore
Due: none

fix: Controvelsial token fix
  backend/src/gift_genie/presentation/api/v1/auth.py
Due: none

fix: Try with setting cookies
  frontend/e2e/auth/login.spec.ts
  frontend/e2e/auth/logout.spec.ts
  frontend/e2e/groups/create-group.spec.ts
  frontend/e2e/helpers.ts
Due: prettier, eslint

fix: New approach
  .github/workflows/pull-request.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: none

chore: remove outdated E2E debugging documentation files
  E2E_CI_AUTH_FIX.md
  E2E_COMPLETE_ROADMAP.md
  E2E_DEBUGGING.md
  E2E_FIXES_APPLIED.md
  E2E_FIX_SUMMARY.md
  E2E_LOGGING_DEBUG.md
  E2E_MIGRATION_SUMMARY.md
  E2E_NETWORK_ROOT_CAUSE.md
  E2E_PHASE2_PLAN.md
  E2E_VERIFICATION_CHECKLIST.md
Due: none

fix: Fix backend config
  backend/src/gift_genie/infrastructure/config/settings.py
  backend/src/gift_genie/main.py
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md|yml|yaml)$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.(md|markdown|mdown)$ and not (^frontend/(node_modules|dist|build)/)
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^frontend/(node_modules|dist|build)/)
