Repository asmelkowski/gift-genie: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-docstring-first

  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.4
    hooks:
      # Run the formatter first
      - id: ruff-format
        files: ^backend/.*\.py$
        types_or: [python]
      # Run the linter with --fix to auto-fix issues
      - id: ruff
        files: ^backend/.*\.py$
        types_or: [python]
        args: [--fix]

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        files: ^backend/.*\.py$
        types_or: [python]

  # Frontend hooks - use local installations
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: sh -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md|yml|yaml)$
        types_or: [javascript, jsx, ts, tsx, json, css, markdown]
        pass_filenames: false
        exclude: ^frontend/(node_modules|dist|build)/

      - id: eslint
        name: eslint
        entry: sh -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false
        exclude: ^frontend/(node_modules|dist|build)/

  # Security hooks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        files: ^backend/src/.*\.py$
        additional_dependencies: ["bandit[toml]", "pbr"]
        args: [--exit-zero]

  # Docker hooks
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        files: ^.*Dockerfile$
        types: [dockerfile]
        args: [--failure-threshold, error]

# Global settings
fail_fast: false
default_stages: [pre-commit]

fix: Fix image build
  frontend/src/components/AdminDashboard/PermissionManagerDialog.test.tsx
  frontend/src/hooks/useNotifyDrawMutation.test.ts
  frontend/src/lib/errors.test.ts
Due: prettier, eslint

feat(admin): add resource-scoped permission granting UI
  frontend/src/components/AdminDashboard/GrantGroupAccessSection.test.tsx
  frontend/src/components/AdminDashboard/GrantGroupAccessSection.tsx
  frontend/src/components/AdminDashboard/PermissionManagerDialog.test.tsx
  frontend/src/components/AdminDashboard/PermissionManagerDialog.tsx
  frontend/src/lib/groupOperations.test.ts
  frontend/src/lib/groupOperations.ts
Due: prettier, eslint

fix: Fix admin permission dashboard
  backend/src/gift_genie/application/use_cases/grant_permission.py
  backend/src/gift_genie/domain/services/__init__.py
  backend/src/gift_genie/domain/services/permission_validator.py
  backend/src/gift_genie/infrastructure/database/repositories/user_permissions.py
  backend/src/gift_genie/presentation/api/dependencies.py
  backend/src/gift_genie/presentation/api/v1/admin.py
  backend/tests/test_admin_permissions_api.py
  backend/tests/test_grant_permission_use_case.py
  backend/tests/test_permission_validator.py
  frontend/e2e/admin/resource-scoped-permission-management.spec.ts
Due: prettier, eslint

feat: Implement permission-based group filtering
  PERMISSION_VALIDATION_FIX.md
  backend/alembic/versions/1a2b3c4d5e6f_add_user_permissions_indexes_for_group_filtering.py
  backend/src/gift_genie/application/use_cases/list_user_groups.py
  backend/src/gift_genie/domain/interfaces/repositories.py
  backend/src/gift_genie/infrastructure/database/repositories/groups.py
  backend/src/gift_genie/presentation/api/dependencies.py
  backend/src/gift_genie/presentation/api/v1/groups.py
  backend/tests/test_admin_permissions_api.py
  backend/tests/test_draws_api.py
  backend/tests/test_granular_permissions_flow.py
  backend/tests/test_groups_api.py
  backend/tests/test_groups_detail_api.py
  backend/tests/test_list_user_groups_use_case.py
  frontend/e2e/admin/resource-scoped-permission-management.spec.ts
  frontend/e2e/groups/permission-based-listing.spec.ts
Due: prettier, eslint

feat(i18n): add frontend localization foundation with Polish and English support
  .ai/localization-implementation-plan.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AppLayout/UserMenu.tsx
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/lib/i18n/config.ts
  frontend/src/lib/i18n/types.ts
  frontend/src/locales/en/admin.json
  frontend/src/locales/en/auth.json
  frontend/src/locales/en/common.json
  frontend/src/locales/en/draws.json
  frontend/src/locales/en/errors.json
  frontend/src/locales/en/exclusions.json
  frontend/src/locales/en/groups.json
  frontend/src/locales/en/members.json
  frontend/src/locales/pl/admin.json
  frontend/src/locales/pl/auth.json
  frontend/src/locales/pl/common.json
  frontend/src/locales/pl/draws.json
  frontend/src/locales/pl/errors.json
  frontend/src/locales/pl/exclusions.json
  frontend/src/locales/pl/groups.json
  frontend/src/locales/pl/members.json
  frontend/src/main.tsx
Due: prettier, eslint

feat(i18n): migrate auth components to use translations
  frontend/src/components/LoginForm.tsx
  frontend/src/components/LoginPage.tsx
  frontend/src/components/RegisterForm.tsx
  frontend/src/pages/RegisterPage.tsx
Due: prettier, eslint

feat(i18n): migrate groups components to use translations
  frontend/src/components/GroupsPage.tsx
  frontend/src/components/GroupsPage/CreateGroupDialog.tsx
  frontend/src/components/GroupsPage/EmptyState.tsx
  frontend/src/components/GroupsPage/ErrorState.tsx
  frontend/src/components/GroupsPage/GroupsToolbar.tsx
  frontend/src/components/GroupsPage/PageHeader.tsx
  frontend/src/locales/en/groups.json
  frontend/src/locales/pl/groups.json
Due: prettier, eslint

feat(i18n): migrate members components to use translations
  frontend/src/components/MembersPage/EmptyState.tsx
  frontend/src/components/MembersPage/ErrorState.tsx
  frontend/src/components/MembersPage/MemberCard.tsx
  frontend/src/components/MembersPage/MemberDialog.tsx
  frontend/src/components/MembersPage/MemberForm.tsx
  frontend/src/components/MembersPage/MembersToolbar.tsx
  frontend/src/components/MembersPage/PageHeader.tsx
  frontend/src/locales/en/members.json
  frontend/src/locales/pl/members.json
  frontend/src/pages/MembersPage.tsx
Due: prettier, eslint

feat(i18n): migrate draws, exclusions, and AppLayout components to translations
  frontend/src/components/AppLayout/Header.tsx
  frontend/src/components/AppLayout/UserMenu.tsx
  frontend/src/components/DrawResultsPage/AssignmentsTable.tsx
  frontend/src/components/DrawResultsPage/AssignmentsToolbar.tsx
  frontend/src/components/DrawResultsPage/DrawMetadata.tsx
  frontend/src/components/DrawResultsPage/ExportActions.tsx
  frontend/src/components/DrawResultsPage/PageHeader.tsx
  frontend/src/components/DrawsPage/DrawCard.tsx
  frontend/src/components/DrawsPage/DrawsToolbar.tsx
  frontend/src/components/DrawsPage/EmptyState.tsx
  frontend/src/components/DrawsPage/ErrorGuidanceAlert.tsx
  frontend/src/components/DrawsPage/ErrorState.tsx
  frontend/src/components/DrawsPage/ExecuteDrawLoadingOverlay.tsx
  frontend/src/components/DrawsPage/FinalizeConfirmationDialog.tsx
  frontend/src/components/DrawsPage/NotificationResultDialog.tsx
  frontend/src/components/DrawsPage/NotifyDrawDialog.tsx
  frontend/src/components/DrawsPage/PageHeader.tsx
  frontend/src/components/ExclusionsPage/EmptyState.tsx
  frontend/src/components/ExclusionsPage/ErrorState.tsx
  frontend/src/components/ExclusionsPage/ExclusionCard.tsx
  frontend/src/components/ExclusionsPage/ExclusionDialog.tsx
  frontend/src/components/ExclusionsPage/ExclusionForm.tsx
  frontend/src/components/ExclusionsPage/ExclusionsPage.tsx
  frontend/src/components/ExclusionsPage/ExclusionsToolbar.tsx
  frontend/src/locales/en/common.json
  frontend/src/locales/en/draws.json
  frontend/src/locales/en/exclusions.json
  frontend/src/locales/pl/common.json
  frontend/src/locales/pl/draws.json
  frontend/src/locales/pl/exclusions.json
  frontend/src/pages/DrawResultsPage.tsx
Due: prettier, eslint

feat(i18n): implement backend email template localization
  backend/pyproject.toml
  backend/src/gift_genie/domain/interfaces/notification_service.py
  backend/src/gift_genie/infrastructure/services/email_notification_service.py
  backend/src/gift_genie/infrastructure/services/template_loader.py
  backend/src/gift_genie/infrastructure/templates/emails/en/assignment_notification.html
  backend/src/gift_genie/infrastructure/templates/emails/pl/assignment_notification.html
Due: none

fix: Fix unit tests
  frontend/src/components/AdminDashboard/GrantGroupAccessSection.tsx
  frontend/src/components/ExclusionsPage/ExclusionsPage.tsx
  frontend/src/components/GroupsPage/GroupCard.test.tsx
  frontend/src/components/GroupsPage/GroupsToolbar.tsx
  frontend/src/locales/en/admin.json
  frontend/src/locales/pl/admin.json
  frontend/src/test/setup.ts
Due: prettier, eslint

feat(backend): implement real SMTP notifications and refactor email i18n
  backend/pyproject.toml
  backend/src/gift_genie/infrastructure/locales/en/emails.json
  backend/src/gift_genie/infrastructure/locales/pl/emails.json
  backend/src/gift_genie/infrastructure/services/i18n.py
  backend/src/gift_genie/infrastructure/services/smtp_notification_service.py
  backend/src/gift_genie/infrastructure/services/template_loader.py
  backend/src/gift_genie/infrastructure/templates/emails/assignment_notification.html
  backend/src/gift_genie/infrastructure/templates/emails/pl/assignment_notification.html
  backend/src/gift_genie/presentation/api/v1/draws.py
  backend/tests/test_email_template_i18n.py
  backend/tests/test_smtp_notification_service.py
  backend/uv.lock
  infra/compute.tf
  infra/variables.tf
Due: none

ci: map SMTP secrets to Terraform variables in deploy and PR workflows
  .github/workflows/deploy.yml
  .github/workflows/pull-request.yml
Due: none

fix(backend): resolve mypy type hints errors in i18n and template loader
  backend/src/gift_genie/infrastructure/services/i18n.py
  backend/src/gift_genie/infrastructure/services/template_loader.py
Due: none

feat(backend): implement real SMTP notifications and refactor email i18n (#73)
  .github/workflows/deploy.yml
  .github/workflows/pull-request.yml
  backend/pyproject.toml
  backend/src/gift_genie/infrastructure/locales/en/emails.json
  backend/src/gift_genie/infrastructure/locales/pl/emails.json
  backend/src/gift_genie/infrastructure/services/i18n.py
  backend/src/gift_genie/infrastructure/services/smtp_notification_service.py
  backend/src/gift_genie/infrastructure/services/template_loader.py
  backend/src/gift_genie/infrastructure/templates/emails/assignment_notification.html
  backend/src/gift_genie/infrastructure/templates/emails/pl/assignment_notification.html
  backend/src/gift_genie/presentation/api/v1/draws.py
  backend/tests/test_email_template_i18n.py
  backend/tests/test_smtp_notification_service.py
  backend/uv.lock
  infra/compute.tf
  infra/variables.tf
Due: none

feat: User language emails
  backend/alembic/versions/cbf6d2bc313d_add_member_language.py
  backend/src/gift_genie/application/dto/create_member_command.py
  backend/src/gift_genie/application/dto/update_member_command.py
  backend/src/gift_genie/application/use_cases/create_member.py
  backend/src/gift_genie/application/use_cases/notify_draw.py
  backend/src/gift_genie/application/use_cases/update_member.py
  backend/src/gift_genie/domain/entities/member.py
  backend/src/gift_genie/domain/interfaces/notification_service.py
  backend/src/gift_genie/infrastructure/database/models/member.py
  backend/src/gift_genie/infrastructure/database/repositories/members.py
  backend/src/gift_genie/infrastructure/services/smtp_notification_service.py
  backend/src/gift_genie/infrastructure/services/template_loader.py
  backend/src/gift_genie/presentation/api/v1/members.py
  backend/tests/test_draws_api.py
  backend/tests/test_email_template_i18n.py
  backend/tests/test_smtp_notification_service.py
  frontend/src/components/MembersPage/MemberForm.test.tsx
  frontend/src/components/MembersPage/MemberForm.tsx
  frontend/src/locales/en/members.json
  frontend/src/locales/pl/members.json
  frontend/src/types/schema.d.ts
Due: prettier, eslint

feat: User language emails (#74)
  backend/alembic/versions/cbf6d2bc313d_add_member_language.py
  backend/src/gift_genie/application/dto/create_member_command.py
  backend/src/gift_genie/application/dto/update_member_command.py
  backend/src/gift_genie/application/use_cases/create_member.py
  backend/src/gift_genie/application/use_cases/notify_draw.py
  backend/src/gift_genie/application/use_cases/update_member.py
  backend/src/gift_genie/domain/entities/member.py
  backend/src/gift_genie/domain/interfaces/notification_service.py
  backend/src/gift_genie/infrastructure/database/models/member.py
  backend/src/gift_genie/infrastructure/database/repositories/members.py
  backend/src/gift_genie/infrastructure/services/smtp_notification_service.py
  backend/src/gift_genie/infrastructure/services/template_loader.py
  backend/src/gift_genie/presentation/api/v1/members.py
  backend/tests/test_draws_api.py
  backend/tests/test_email_template_i18n.py
  backend/tests/test_smtp_notification_service.py
  frontend/src/components/MembersPage/MemberForm.test.tsx
  frontend/src/components/MembersPage/MemberForm.tsx
  frontend/src/locales/en/members.json
  frontend/src/locales/pl/members.json
  frontend/src/types/schema.d.ts
Due: prettier, eslint

fix(frontend): improve mobile responsiveness across all views
  frontend/src/components/AppLayout/AppLayout.tsx
  frontend/src/components/AppLayout/Breadcrumb.tsx
  frontend/src/components/AppLayout/Header.tsx
  frontend/src/components/DrawsPage/DrawsPage.tsx
  frontend/src/components/DrawsPage/FinalizeConfirmationDialog.tsx
  frontend/src/components/DrawsPage/NotificationResultDialog.tsx
  frontend/src/components/DrawsPage/NotifyDrawDialog.tsx
  frontend/src/components/ExclusionsPage/ExclusionForm.tsx
  frontend/src/components/ExclusionsPage/ExclusionsToolbar.tsx
  frontend/src/components/GroupsPage/CreateGroupDialog.tsx
  frontend/src/components/GroupsPage/GroupDetails.tsx
  frontend/src/components/MembersPage/MemberForm.tsx
  frontend/src/components/MembersPage/MembersToolbar.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/pages/DrawResultsPage.tsx
Due: prettier, eslint

fix(frontend): improve mobile responsiveness across all views
  frontend/src/pages/AdminDashboard.tsx
Due: prettier, eslint

fix(e2e): scope selectors to users-table to avoid mobile/desktop duplicates
  frontend/e2e/admin/admin-dashboard-ux.spec.ts
  frontend/e2e/page-objects/AdminDashboardPage.ts
Due: prettier, eslint

fix(frontend): improve mobile responsiveness across all views (#75)
  frontend/e2e/admin/admin-dashboard-ux.spec.ts
  frontend/e2e/page-objects/AdminDashboardPage.ts
  frontend/src/components/AppLayout/AppLayout.tsx
  frontend/src/components/AppLayout/Breadcrumb.tsx
  frontend/src/components/AppLayout/Header.tsx
  frontend/src/components/DrawsPage/DrawsPage.tsx
  frontend/src/components/DrawsPage/FinalizeConfirmationDialog.tsx
  frontend/src/components/DrawsPage/NotificationResultDialog.tsx
  frontend/src/components/DrawsPage/NotifyDrawDialog.tsx
  frontend/src/components/ExclusionsPage/ExclusionForm.tsx
  frontend/src/components/ExclusionsPage/ExclusionsToolbar.tsx
  frontend/src/components/GroupsPage/CreateGroupDialog.tsx
  frontend/src/components/GroupsPage/GroupDetails.tsx
  frontend/src/components/MembersPage/MemberForm.tsx
  frontend/src/components/MembersPage/MembersToolbar.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/pages/DrawResultsPage.tsx
Due: prettier, eslint

feat: rebrand frontend, fix breadcrumb crash, and update dev infra
  docker-compose.dev.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/index.html
  frontend/package-lock.json
  frontend/public/favicon.png
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/components/AppLayout/Breadcrumb.tsx
  frontend/src/components/AppLayout/Header.tsx
  frontend/src/components/AppLayout/Sidebar.tsx
  frontend/src/components/AppLayout/UserMenu.tsx
  frontend/src/components/GroupsPage/GroupCard.test.tsx
  frontend/src/components/GroupsPage/GroupCard.tsx
  frontend/src/components/GroupsPage/GroupDetails.tsx
  frontend/src/components/GroupsPage/GroupsToolbar.tsx
  frontend/src/components/MembersPage/PageHeader.tsx
  frontend/src/hooks/useBreadcrumbs.ts
  frontend/src/index.css
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/pages/MembersPage.tsx
Due: prettier, eslint

fix: remove package-lock
  frontend/package-lock.json
Due: prettier

fix: Use bun
  frontend/Dockerfile
Due: none

feat: rebrand frontend, fix breadcrumb crash, and update dev infra (#76)
  docker-compose.dev.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/index.html
  frontend/public/favicon.png
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/components/AppLayout/Breadcrumb.tsx
  frontend/src/components/AppLayout/Header.tsx
  frontend/src/components/AppLayout/Sidebar.tsx
  frontend/src/components/AppLayout/UserMenu.tsx
  frontend/src/components/GroupsPage/GroupCard.test.tsx
  frontend/src/components/GroupsPage/GroupCard.tsx
  frontend/src/components/GroupsPage/GroupDetails.tsx
  frontend/src/components/GroupsPage/GroupsToolbar.tsx
  frontend/src/components/MembersPage/PageHeader.tsx
  frontend/src/hooks/useBreadcrumbs.ts
  frontend/src/index.css
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/pages/MembersPage.tsx
Due: prettier, eslint

feat(i18n): add German (DE) localization for frontend and backend
  backend/src/gift_genie/infrastructure/locales/de/emails.json
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/MembersPage/MemberForm.tsx
  frontend/src/lib/i18n/config.ts
  frontend/src/locales/de/admin.json
  frontend/src/locales/de/auth.json
  frontend/src/locales/de/common.json
  frontend/src/locales/de/draws.json
  frontend/src/locales/de/errors.json
  frontend/src/locales/de/exclusions.json
  frontend/src/locales/de/groups.json
  frontend/src/locales/de/members.json
Due: prettier, eslint

test(backend): fix fallback i18n test and add coverage for German
  backend/tests/test_email_template_i18n.py
Due: none

feat(i18n): add German (DE) localization for frontend and backend (#77)
  backend/src/gift_genie/infrastructure/locales/de/emails.json
  backend/tests/test_email_template_i18n.py
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/MembersPage/MemberForm.tsx
  frontend/src/lib/i18n/config.ts
  frontend/src/locales/de/admin.json
  frontend/src/locales/de/auth.json
  frontend/src/locales/de/common.json
  frontend/src/locales/de/draws.json
  frontend/src/locales/de/errors.json
  frontend/src/locales/de/exclusions.json
  frontend/src/locales/de/groups.json
  frontend/src/locales/de/members.json
Due: prettier, eslint

feat: Reduce max_scale to 1
  infra/compute.tf
Due: none

feat: Reduce max_scale to 1 (#78)
  infra/compute.tf
Due: none

feat: redesign language switcher as a dropdown and localize tooltip
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/locales/de/common.json
  frontend/src/locales/en/common.json
  frontend/src/locales/pl/common.json
Due: prettier, eslint

feat: redesign language switcher as a dropdown and localize tooltip (#79)
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/locales/de/common.json
  frontend/src/locales/en/common.json
  frontend/src/locales/pl/common.json
Due: prettier, eslint
